
    {{>header}}


    <div class="app">
        <div class="content head">
        Get your Weather information here
    </div>
   <div class="content">
        <form class="content" action="">
        <input class="content" type="search" id="sera" name="search" placeholder="location">
        <input class="content" type="submit" id="sub" value="Search">
    </form>
   </div>
   <div class="info">
        <p class="content" >Location: <span id="message1" class="mes">Please Input a Location</span></p>
    <p class="content">Verdict: <span id="message2" class="mes"></span></p>
   </div>
    </div>
<footer>
        {{>footer}}
</footer>
