
    {{>header}}


    <div>
        Get your Weather information here
    </div>
   <div>
        <form action="">
        <input type="search" name="search" placeholder="location">
        <input type="submit" value="Search">
    </form>
   </div>
    <p id="message1"></p>
    <p id="message2"></p>
<footer>
        {{>footer}}
</footer>
